html, body {
    height: 100%;
    width: 100%;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


#desafios,
#produtos,
#objetivos,
#public,
#sustentabilidade,
#contato {
    padding: 80px 0;
}


#navbar {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    position: relative; 
    z-index: 1; 
}


.nav__image {
    width: 180px;
}


.nav-logo {
    width: 100%;
    height: auto;
}


#nav__list {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
}


.nav-item li, a {
    list-style: none;
    text-decoration: none;
    font-size: 1.0rem;
    line-height: 14px;
    color: #ffffff;
    transition: color 0.3s;

}


.nav-item li, a:hover {
    color: #1b1d1c;
}


@media (max-width: 1200px) {
    #navbar,
    #nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px
    }
}


header {
    width: 100%;
    height: auto;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
    

.header__container {
    width: 100%;
    height: 850px;
    background-image: url(/public/assets/images/header__banner-image-sea.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
    box-sizing: border-box;
}


.header__texts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

}


.header__title, .header__click {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
}


.header__title {
    margin-top: calc(950px - 700px);

}


.header__title h1 {
    text-decoration: none;
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}


.header__title h2 {
    margin-top: -30px;
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.7);
    filter: blur(2px);
}


.header__title h3 {
    position: relative;
    margin-top: -5px;
    font-size: 0.8rem;
    font-weight: 600;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    color: white;
    z-index: 1;
}


.header__click {
    margin-top: 180px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


.header__click a{
    color: white;
    padding: 15px 25px;
    background-color: #4BC0B5;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}


.header__click li, a:hover {
    background-color: white;
    color: #4BC0B5;
}


main {
    max-width: 1920px;
    margin: 0 auto;
}


.main__container {
    padding: 0 100px;
}


.section__desafios {
    padding: 0;
    background: white;
}


.section__desafios__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.desafios__titles {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.desafios-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #4BC0B5;
    text-transform: uppercase;
    margin-bottom: 10px;
}


.desafios-subtitle {
    font-size: 1.8rem;
    font-weight: 800;
    color: black;
}


.desafios__content-texts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    box-sizing: border-box;
}


.desafios-text {
    width: 40%;
}


.desafios-text p {
    font-size: 1.3rem;
    font-weight: 600;
    color: gray;
    line-height: 1.8rem;
}


.highlight {
    color: #4BC0B5;
    font-weight: bold;
}


.learn-more {
    margin-top: 40px;
    color: #4BC0B5;
    text-decoration: none;
    font-weight: 500;
}


.learn-more:hover {
    text-decoration: underline;
}


.desafios__image {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    box-sizing: border-box;
}


.desafios__image img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}


.desafios__container-circles {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}


.desafios-circle {
    width: 225px;
    height: 225px;
    background: #4BC0B5;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 2px 10px rgba(0, 10, 8, 0.6);
    transition: background 0.7s;
}


.desafios-circle:hover {
    background-color: white;
    color: #4BC0B5;
    box-shadow: 0 2px 10px rgb(66, 173, 163);
}

@media (max-width: 1120px) {
    .desafios__container-text {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .desafios-text {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .desafios__content-texts {
        display: flex;
        flex-direction: column;
    }

    .desafios__container-circles {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .desafios-circle {
        font-size: 1.2rem;
        width: 200px;
        height: 200px;
        gap: 50px;
    }
}

@media (max-width: 768px) {
    
    .desafios-circle {
        font-size: 0.9rem;
        width: 150px;
        height: 150px;
        gap: 30px;
    }
}




.section__produtos {
    padding: 0;
    background-color: white;
}

.section__produtos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.produtos__container-titles {
    text-align: center;
    margin-bottom: 40px;
}

.produtos-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #4BC0B5;
    margin-bottom: 10px;
}

.produtos-subtitle {
    font-size: 1.8rem;
    font-weight: 800;
    color: black;
}

.produtos__content {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.produtos__divider {
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: gray;
    left: 50%;
    transform: translateX(-50%);
}

.produtos__informations {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.produtos__informations-item {
    margin: 90px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.produtos__informations-text {
    width: 40%;
}

.produtos__informations-item h4 {
    font-size: 1.6rem;
    font-weight: 800;
    color: black;
    margin-bottom: 10px;
}

.produtos__informations-item p {
    font-size: 1.3rem;
    color: gray;
    line-height: 1.6;
}

.produtos__informations-image {
    width: 15%;
    display: flex;
    justify-content: center;
}

.produtos__informations-image img {
    width: 100%;
    height: auto;
}

.highlight {
    color: #4BC0B5;
}

@media (max-width: 1120px) {
    .produtos__content {
        flex-direction: column;
    }

    .produtos__divider {
        display: none;
    }

    .produtos__informations-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .produtos__informations-text, .produtos__informations-item h4, .produtos__informations-item p {
        width: 100%;
    }

    .produtos__informations-image {
        width: 50%;
        margin-bottom: 20px;
    }
}




.section__objetivos {
    padding: 0;
    background-color: white;
    text-align: start;
}

.section__objetivos__titles {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.objetivos-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #4BC0B5;
    margin-bottom: 10px;
}

.objetivos-subtitle {
    font-size: 1.8rem;
    font-weight: 800;
    color: black;

}

.section__objetivos__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.objetivo__description-text {
    margin-bottom: 40px;
    display: flex;
    justify-content: start;

}


.objetivo-description {
    font-size: 1.3rem;
    color: gray;
    margin-bottom: 40px;
    line-height: 1.6;
}

.highlight {
    color: #4BC0B5;
    font-weight: bold;
}

.objetivos__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.objetivo__text {
    flex: 1;
    width: 100%;
    margin: 0 10px 20px;
    text-align: left;
    background-color: white;

}

.objetivo__text img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.objetivo-title {
    font-size: 20px;
    font-weight: bold;
    color: #00b3b3;
    margin-bottom: 10px;
}

.objetivo-description {
    font-size: 1.3rem;
    font-weight: 600;
    color: gray;
    line-height: 1.8rem;

}


@media (max-width: 1120px) {
    .objetivos__content {
        flex-direction: column;
        align-items: center;
    }

    .objetivo__text {
        max-width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .objetivos-title {
        font-size: 28px;
    }

    .objetivos-subtitle {
        font-size: 20px;
    }

    .objetivo-description {
        font-size: 16px;
    }

    .objetivo-title {
        font-size: 18px;
    }

    .objetivo-description {
        font-size: 14px;
    }
}



.section__public {
    padding: 0;
    background-color: white;
    margin-bottom: 100px;

}

.public__titles {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.public-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #4BC0B5;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.public-subtitle {
    font-size: 1.8rem;
    font-weight: 800;
    color: black;
}

.public__circles {
    width: 100%;
    gap: 70px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


.public-circle {
    width: 225px;
    height: 225px;
    background: #4BC0B5;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 2px 10px rgba(0, 10, 8, 0.6);
    transition: background 0.7s;
}


.public-circle:hover {
    background-color: white;
    color: #4BC0B5;
    box-shadow: 0 2px 10px rgb(66, 173, 163);
}


@media (max-width: 1120px) {
    .public-item {
        width: 180px;
        height: 180px;
        font-size: 16px;
        padding: 15px;
    }

    .public-circle {
        font-size: 1.2rem;
        width: 200px;
        height: 200px;
        gap: 50px;
    }
}


@media (max-width: 768px) {
    .public-title {
        font-size: 30px;
    }

    .public-subtitle {
        font-size: 20px;
    }

    .public-circle {
        font-size: 0.9rem;
        width: 150px;
        height: 150px;
        gap: 30px;
    }
}


.section__sustentabilidade {
    padding: 0;
    background-color: white;
}

.sustentabilidade__titles {
    margin-bottom: 100px;
    text-align: center;
}

.sustentabilidade-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #4BC0B5;
    margin-bottom: 10px;
}

.sustentabilidade-subtitle {
    font-size: 1.8rem;
    font-weight: 800;
    color: black;
}

.sustentabilidade__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sustentabilidade__content-beneficios,
.sustentabilidade__content-vidadiaria {
    width: 48%;
}

.sustentabilidade__beneficios-title,
.sustentabilidade__vidadiaria-title {
    font-size: 1.6rem;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.sustentabilidade__beneficios__circles,
.sustentabildade__vidadiaria__circles{
    width: 100%;
    gap: 70px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


.beneficio-circle,
.vidadiaria-circle {
    width: 225px;
    height: 225px;
    background-color: #4BC0B5;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 2px 10px rgba(0, 10, 8, 0.6);
    transition: background 0.7s;
}
    
.beneficio-circle:hover {
    background-color: white;
    color: #4BC0B5;
    box-shadow: 0 2px 10px rgb(66, 173, 163);
}

.vidadiaria-circle:hover {
    background-color: white;
    color: #4BC0B5;
    box-shadow: 0 2px 10px rgb(66, 173, 163);
}



@media (max-width: 1120px) {
    .sustentabilidade__container {
        flex-direction: column;
        align-items: center;
    }

    .sustentabilidade__content-beneficios {
        margin-bottom: 30px;
    }

    .sustentabilidade__content-beneficios,
    .sustentabilidade__content-vidadiaria {
        width: 90%;
    }

    .beneficio-circle,
    .vidadiaria-circle {
        font-size: 1.2rem;
        width: 200px;
        height: 200px;
        gap: 50px; 
    }
}

@media (max-width: 768px) {
    .sustentabilidade__content-beneficios {
        margin-bottom: 30px;
    }

    .sustentabilidade-title {
        font-size: 1.8rem;
    }

    .sustentabilidade-subtitle {
        font-size: 1.2rem;
    }

    .sustentabilidade__beneficios-title,
    .sustentabilidade__vidadiaria-title {
        font-size: 1.3rem;
    }

    .beneficio-circle,
    .vidadiaria-circle {
        font-size: 0.9rem;
        width: 150px;
        height: 150px;
        gap: 30px;
    }
}



.section__contato {
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__contato__container {
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato__content-texts {
    width: 50%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato__title {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato__title img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.contato-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #4BC0B5;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contato-text {
    font-size: 1.3rem;
    font-weight: 600;
    color: gray;
    line-height: 1.8rem;
    margin-bottom: 20px;
}


.contato__content-form {
    width: 40%;
    height: auto;
    margin: 30px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato__form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.form-group {
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.form-label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: gray;
    line-height: 1.8rem;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1.5px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-button {
    width: 100%;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    background-color: #4BC0B5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.form-button:hover {
    background-color: white;
    color: #4BC0B5;
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(68, 68, 68);
    color: white; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.footer__container {
    width: 100%;
    height: auto;
    max-width: 1920px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

.footer__about {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.footer__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}

.footer__content__nav, .footer__social {
    flex: 1;
}

.footer__content__nav {
    display: flex;
    justify-content: center;
}

.footer__nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__nav li {
    margin: 10px 0;
}

.footer__nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer__nav a:hover {
    color: #4BC0B5;
}

.footer__social__icons {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 10px; 
}

.footer__social__icons a img {
    width: 30px; 
    height: auto; 
}

.footer__line-row {
    width: 50%;
    height: auto;
    max-width: 1920px;
    margin: 50px auto; 
    border-top: 1.5px solid gray; 
}

.footer__copyright {
    width: 100%;
    height: auto;
    max-width: 1920px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 100px; 
}

.back-to-top {
    color: #4BC0B5;
    text-decoration: none;
}

.back-to-top:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer__content {
        flex-direction: column;
        align-items: center;
    }

    .footer__content__nav, .footer__social {
        margin-bottom: 20px;
    }
}